@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p> Bienvenido a este sistema de gestión de Tareas para Equipos de Desarrollo de Software. 
        El sistema permitirá a los usuarios crear, asignar, y hacer seguimiento de tareas dentro de un proyecto</p>
    <img src="~/images/logo.jpeg" />
</div>
